<h1>Edit Cohort</h1>

<%= form_for(@cohort) do |f| %>

<%= f.text_field :name, placeholder: "Cohort Name"%><br>
<%= f.date_field :start_date, placeholder: "Start Date" %><br>
<%= f.date_field :end_date, placeholder: "End Date" %><br>
<h5>Instructors: </h5>
<br>
<%= f.collection_select(:instructor_id, Instructor.all, :id, :last_name, required: true)%>
<br>
<h5>Students: </h5>
<br>
<%= f.submit 'Edit Cohort' %><br>
<% end %>

<div class="buttons"><br><br>
  <%= link_to 'List', cohorts_path %>
  <%= link_to 'Create a Cohort', new_cohort_path %>
  <%= link_to 'Delete', cohort_path, data: {:confirm => 'Are you sure?'}, :method => :delete %>
</div>
