<h1>Add New Cohort</h1>

<%= form_with scope: :cohorts, url: cohorts_path, local: true do |f| %>

<%= f.text_field :name, placeholder: "Enter the Name of Cohort"%><br> 
<%= f.date_field :start_date, placeholder: "Start Date" %><br> 
 <%= f.date_field :end_date, placeholder: "End Date" %><br> 
 <%= f.number_field :instructor_id, placeholder: "Instructor ID" %><br> maybe course
 <%= f.number_field :student_id, placeholder: "Student ID" %><br> 
 
<%= f.text_area :bio, placeholder: "Write a quick bio." %><br>

<%= f.submit 'Add Student' %><br>
<% end %>

 
 