<h1>Add New Cohort</h1>

<%= form_for(@cohort) do |f| %>

<%= f.text_field :name, placeholder: "Cohort Name"%><br>
<%= f.date_field :start_date, placeholder: "Start Date" %><br>
<%= f.date_field :end_date, placeholder: "End Date" %><br>
<%= f.text_field :instructor_id, placeholder: "Instructor ID" %><br>
<%= f.text_field :student_id, placeholder: "Student ID" %><br>

<%= f.submit 'Add a Cohort' %><br>
<% end %>

<div class="buttons"><br><br>
  <%= link_to 'List', courses_path %>
</div>
