<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Cohorts Info</h1>
</div>

<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @cohort.end_date %>
</p>
<p>
  <strong>Instructor ID:</strong>
  <%= Instructor.find(@cohort.instructor_id).first_name if @cohort.instructor_id %>
  <%= Instructor.find(@cohort.instructor_id).last_name if @cohort.instructor_id %>
</p>

<p>
  <strong>Student ID:</strong>
  <%= @cohort.student_ids%>
</p>

<%= form_tag({controller: :cohorts, action: :update}, method: :get) %>
<%= collection_select(:save, :student_ids, Student.all, :id, :last_name) %>
<%= submit_tag %>

<div class="buttons"><br><br>
  <%= link_to 'List', cohorts_path %>
  <%= link_to 'Create a Cohort', new_cohort_path %>
  <%= link_to 'Edit', edit_cohort_path %>
  <%= link_to 'Delete', cohort_path, data: {:confirm => 'Are you sure?'}, :method => :delete %>
</div>
