<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Cohorts Info</h1>
</div>

<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @cohort.end_date %>
</p>
<p>
  <strong>Instructor ID:</strong>
  <%= @cohort.instructor_id %>
</p>

<p>
  <strong>Student ID:</strong>
  <%= @cohort.student_id%>
</p>

<div class="buttons"><br><br>
  <%= link_to 'List', cohorts_path %>
  <%= link_to 'Create a Student', new_cohort_path %>
  <%= link_to 'Edit', edit_cohort_path %>
  <%= link_to 'Delete', cohort_path, data: {:confirm => 'Are you sure?'}, :method => :delete %>
</div>
