<h1>Add New Student</h1>

<%= form_for(@student) do |f| %>

<%= f.text_field :last_name, placeholder: "Last Name"%><br>
<%= f.text_field :first_name, placeholder: "First Name" %><br>
<%= f.number_field :age, placeholder: "Age" %><br>
<%= f.select :education, ['HS', 'College', 'Masters', 'PHD'], :include_blank => true %><br>

<%= f.submit 'Add a Student' %><br>
<% end %>

<div class="buttons">
  <%= link_to 'List', students_path %>
</div>
