
<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Student Info</h1>
</div>

<p>
  <strong>First name:</strong>
  <%= @students.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @students.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @students.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @students.education %>
</p>

<div class="buttons">
  <a href="/students">Students List</a>
  <a href="/edit/<%= @students.id %>">Edit</a>
  <a href="/students/<%= @students.id %>" onclick="return confirm('Are you sure?')" data-method="delete">Delete</a>
</div>
