
<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Student Info</h1>
</div>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>

<div class="buttons">
  <%= button_tag 'Edit', onclick: "location.href='#{edit_student_path(@student)}'", class: "btn btn-info" %>
  <%= button_tag 'Back', onclick: "location.href='#{students_path}'", class: "btn btn-info" %>
  <%= button_tag 'Delete', onclick: "location.href='#{students_path}'", class: "btn btn-info" %>
</div>



<%= link_to @student, method: :delete do %>
delete

<% end %> 

<%# 


<%
  <%  Generates: <a href="#" onclick="new Ajax.Updater('posts', '/blog/destroy/3', {asynchronous:true, evalScripts:true});
  #            return false;">Delete this post</a>
  link_to_remote "Delete this post", :update => "posts",
    :url => { :action => "destroy", :id => post.id }

show.html.erb show profile info 
find instructor by params Id number
 %>

<%# index => 
    3 links

    link to instructor

    link to edit

    link to destroy
    create link outside loop %>   