<p id="notice"><%= notice %></p>

<div class="section-header">
  <h3>Student Info</h3>
</div>

<p>
  <strong>First Name:</strong>
  <%= @students.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @students.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @students.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @students.education %>
</p>

<div class="buttons">
  <a href="/students">Students List</a>
  <%= link_to 'Edit', edit_student_path(@students) %>
  <a href="/students/<%= @students.id %>" data-method="delete">Delete</a>
</div>
