<p id="notice"><%= notice %></p>

<div class="section-header">
  <h3>Student Info</h3>
</div>

<p>
  <strong>First Name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>

<div class="buttons">
  <%= link_to 'List', students_path %>
  <%= link_to 'Edit', edit_student_path %>
  <%= link_to 'Delete', students_path, data: {:confirm => 'Are you sure?'}, :method => :delete %>
</div>
