<h1>Instructors</h1>
<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableHead" style="width: 150px">First Name</div>
      <div class="divTableHead" style="width: 150px">Last Name</div>
      <div class="divTableHead">Age</div>
      <div class="divTableHead">Salary</div>
      <div class="divTableHead">Education</div>
    </div>
  <% @instructors.each do |instructor| %>
      <div class="divTableRow">
        <div class="divTableCell" style="width: 150px"><a href="/instructors/<%= instructor.id %>"><%= instructor.first_name %></a></div>
        <div class="divTableCell" style="width: 150px"><a href="/instructors/<%= instructor.id %>"><%= instructor.last_name %></a></div>
        <div class="divTableCell"><%= instructor.age %></div>
          <div class="divTableCell"><%= instructor.salary %></div>
        <div class="divTableCell"><%= instructor.education %></div>
      </div>
    <% end %>
    <div class="buttons"><br><br>
      <%= link_to 'Create an Instructor', new_instructor_path %>
    </div>
  </div>
</div>
