<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Instructors Info</h1>
</div>

<p>
  <strong>First Name:</strong>
  <%= @instructors.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @instructors.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @instructors.age %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @instructors.salary%>
</p>

<p>
  <strong>Education:</strong>
  <%= @instructors.education %>
</p>

<div class="buttons">
  <a href="/instructors">Instructors List</a>
  <%= link_to 'Edit', edit_instructor_path(@instructors) %>
  <a href="/instructorss/<%= @instructors.id %>" data-method="delete">Delete</a>
</div>
