<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Instructors Info</h1>
</div>

<p>
  <strong>First Name:</strong>
  <%= @instructor.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @instructor.age %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @instructor.salary%>
</p>

<p>
  <strong>Education:</strong>
  <%= @instructor.education %>
</p>

<div class="buttons">
  <%= link_to 'List', instructors_path %>
  <%= link_to 'Edit', edit_student_path %>
  <%= link_to 'Delete', instructors_path, data: {:confirm => 'Are you sure?'}, :method => :delete %>
</div>
