<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Instructors Info</h1>
</div>

<p>
  <strong>First name:</strong>
  <%= @instructor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @instructor.age %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @instructor.salary%>
</p>

<p>
  <strong>Education:</strong>
  <%= @instructor.education %>
</p>

<div class="buttons">
  <%= link_to 'Edit', onclick: "location.href='#{edit_instructor_path(@instructor)}'", class: "btn btn-info" %>
  <%= link_to 'Back', onclick: "location.href='#{students_path}'", class: "btn btn-info" %>
  <%= link_to "Delete", @instructor, :method => :delete, :confirm => "Are you sure ?"%>
 
</div>
