<!DOCTYPE html>
<html>
  <head>
    <title>PrufrockAcademy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<div id="headerbar">



  <div class="logo"><img src="/images/logo.png">
  </div>
</div>
<div id="navbar">
  <ul>
       <% if @user %>
           <li> <%= link_to "LOGOUT", logout_path(@user)%>
</li>
          <% end %>
      <li><a href="/">HOME</a></li>


    <li><%= link_to 'STUDENTS', students_path %></li>
    <li><%= link_to 'INSTRUCTORS', instructors_path %></li>
    <li><%= link_to 'COHORTS', cohorts_path %></li>
    <li><%= link_to 'COURSES', courses_path %></li>
    <li><%= link_to 'PRINCIPAL', "principal/index" %></li>
  </ul>
</div>
<div class="slogan">
  <!-- <div class="lion"><img src="/images/lion.png"></div> -->
  <div  class="Prufrock"> <br><h1>PRUFROCK PREPATORY<br>SCHOOL</h1>
</div>
<div class="login">


<%- if flash[:error] %>
  <%= flash[:error] %>
<% elsif flash[:success] %>
  <%= flash[:success] %>
<% end %>


<% if @user.nil? %>


<%= form_for :session, url: sessions_path do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>


    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %><br><br>


    <%= f.submit 'Log In', class: 'btn btn-primary' %>

      <%= link_to 'Click here to create an account.', new_user_path %>

<% end %>

<% end %>


</div>
</div>
<div class="school carousel">
  <img class="active" src="/images/school.jpg">
  <img src="/images/bus.jpeg">
  <img src="/images/classroom.jpg">
  <img src="/images/students.jpg">
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


</body>
</html>
