<h1>Edit Courses</h1>

<%= form_with(model: @course, local: true) do |f| %>

<%= f.text_field :name, placeholder: "Course Name"%><br>
<%= f.text_field :hours, placeholder: "Class Hours" %><br><br>

<%= f.submit 'Edit Course' %><br>
<% end %>

<div class="buttons"><br><br>
  <%= link_to 'List', courses_path %>
  <%= link_to 'Create a Student', new_course_path %>
  <%= link_to 'Delete', course_path, data: {:confirm => 'Are you sure?'}, :method => :delete %>
</div>
