<h1>Add New Course</h1>

<%= form_for(@course) do |f| %>

<h5>Course Name: </h5>
<%= f.text_field :name, placeholder: "Course Name"%><br>
<h5>Course Hours: </h5>
<%= f.text_field :hours, placeholder: "Class Hours" %><br>

<%= f.submit 'Add a Course' %><br>
<% end %>

<div class="buttons"><br><br>
  <%= link_to 'List', courses_path %>
</div>
