<p id="notice"><%= notice %></p>

<div class="section-header">
  <h1>Course Info</h1>
</div>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @course.hours %>
</p>

<div class="buttons"><br><br>
  <%= link_to 'List', courses_path %>
  <%= link_to 'Create a Student', new_course_path %>
  <%= link_to 'Edit', edit_course_path %>
  <%= link_to 'Delete', course_path, data: {:confirm => 'Are you sure?'}, :method => :delete %>
</div>
