<!DOCTYPE html>
<html>
  <head>
    <title>PrufrockAcademy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="headerbar">

      <div class="logo"><img src="/images/logo.png">
      </div>
    </div>
    <div id="navbar">
      <ul>
          <li><a href="/">HOME</a></li>
        <li><%= link_to 'STUDENTS', students_path %></li>
        <li><%= link_to 'INSTRUCTORS', instructors_path %></li>
        <li><%= link_to 'COURSES', courses_path %></li>
        <li><%= link_to 'COHORTS', cohorts_path %></li>
      </ul>
    </div>
    <div class="slogan">
      <div class="lion"><img src="/images/lion.png" height="140" width="140"></div>
      <div  class="Prufrock"> <br><h1>PRUFROCK PREPATORY<br>SCHOOL</h1>
    </div>
  </div>
  <%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <script src="application.js"></script>
</body>
</html>
