<!DOCTYPE html>
<html>
  <head>
    <title>PrufrockAcademy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="headerbar">
      <ul>
      <div class="logo"><img src="images/logo.png">
     </ul>
 </div>
<h1>Prufrock Preparatory School</h1>  
 


 <div id="navbar">
      <ul>
          <li><a href="/">HOME</a></li>
            <li><a href="students">STUDENTS</a></li>
            <li><a href="instructors">INSTRUCTORS</a></li>
            <li><a href="principal">PRINCIPAL</a></li>
            <li><a href="courses">COURSES</a></li>
            <li><a href="cohorts">COHORTS</a></li>
            <li><a href="contact">CONTACT US</a></li>
     </ul>
 </div>
 
    <%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

    <script src="application.js"></script>
  </body>
</html>
